<div class="hero-container" style="text-align:center;">
      <div>
        <h4>✋ High Five? <b>No thanks.</b> 👎</h4>
        <h1 style="background-color: black; color: white;">LoFives Save Lives.</h1>
      </div>
      <h6>Practice social distancing by wearing a mask, avoiding physical contact, and trying a new, cool way to say hello, virtually!</h6>
      <div>
        <h3>Ever try a LoFive?</h3>
        <img class="u-max-full-width" style="max-width: 10%;" src="../assets/lofive-logo.jpg">
      </div>
      <div>
        <camera></camera>
      </div>
      <footer>
        <h6>Share your LoFive Selfie on Instagram to encourage others to take the
        <h5><b>#LoFiveSelfieChallenge</b></h5></h6>
        <button class="button-primary" href="https://www.cdc.gov/coronavirus/2019-ncov/faq.html">Click here to learn more about covid-19.</button>
      </footer>
</div>
